#mainBgPic{
    background-image: url('https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_large_assets/dde93fe399aa/assets/img/home/hero_photos/Xs7es0q4jmFY5CV3uTeuPw.jpg');
    background-size: cover;
    margin-top: -86px;
    height: 600px;
}
#cardTypeLabel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bolder;
}

#btnDeep{
    color:white;
    background-Color:#C0392B;
    /* border:none; */
    border-color: #C0392B;
}
