.orderHeader{
    width: 80%;
    margin: 0 auto;
}
.orderDate{
    float: right;
}
#backBtn{
    background-color: #C0392B;
    /* display: absolute; */
    width: 15%;
    /* height: 40px; */
    border:none;
    float: right;
}