.supplierContainer{
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 10px;
    width: 50%;
  }
  .card img{
    width: 100%;
  }
  .card h1{
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .card i{
    margin: 0 10px 10px 10px;
  }
  
  .title {
    color: grey;
    font-size: 1.0rem;
  }
  .contactBtn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #E74C3C;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0rem;
  }