.folderIcon{
    margin-right: 15px;
}
.foldera:hover{
    background-color: #eee;
}
.folderactive{
    background-color: #E74C3C;
    color:white !important
}
.folderactive:hover{
    background-color: #E74C3C;
}

.item{
    background-color: white;
    box-shadow: 0 0 0 1px #eee;
    margin-bottom: 10px;
}
.item img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    padding:10px;
    
}
.item p{
    margin-top: 36px;
}
.item a{
    margin-left: 20px;
    color: #0066c0;
    font-size: 1.0em;
}