.folderIcon{
    margin-right: 15px;
}
.foldera:hover{
    background-color: #eee;
}
.folderactive{
    background-color: #E74C3C;
    color:white !important
}
.folderactive:hover{
    background-color: #E74C3C;
}

.item{
    background-color: white;
    box-shadow: 0 0 0 1px #eee;
    margin-bottom: 10px;
}
.item img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    padding:10px;
    
}
.item p{
    margin-top: 36px;
}
.item a{
    margin-left: 20px;
    color: #0066c0;
    font-size: 1.0em;
}
/* .folderContent{
    box-shadow: 0 0 0 1px #eee;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}. */
.folderContent{
    /* box-shadow: 0 0 0 1px #eee; */
    /* background-color: white; */
    
    /* background-color: #eee; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.folderContent a{
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}
.borderBox{
    margin: 10px 10px 0 10px;
    /* border: 3px solid #E74C3C; */
    padding: 10px 0 10px 0;
    background-color: white;
}

.folderItem{
    width: 200px;
    height: 200px;
    /* margin: 10px 10px 0 10px; */
    background-size: cover;
    /* margin-bottom: 50px; */
    position: relative;
}
.folderItem p{
    display: flex;
    color:white;
    /* background-color:#C0392B; */
    width: 100%;
    opacity: 0.8;
    font-weight: bolder;
    font-size: 0.8em;
    text-align: center;
    z-index: 10;
}

/* .folderItem:hover{
    border: 5px solid #E74C3C;
} */
#loadMoreBtn{
    width: 50%;
    margin-top:20px;
    border: none;
    background-color: #E74C3C;
    margin-bottom: 20px;
}
.subFolder{
    height: 30px;
    width: 100%;
    /* background-color:#eee; */
    /* box-shadow: 0 0 0 1px #eee; */
    /* margin-left: 10px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4px;
    margin-bottom: -10px;
    /* position: absolute;
    bottom: 20px; */
    background-color: white;
}
.subFolder p{
    width: 80%;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin-left: 16px;
}
/* .borderBox:hover{
    border: 2px solid #E74C3C;
} */

.borderBox:hover .deleteBtn{
    display: block;
    color: #E74C3C;
    opacity: 1;
    
}
.borderBox:hover .subFolder{
    /* background-color: rgb(226,226,226); */
}


.deleteBtn{
    opacity: 0;
    display: block;
}