.headerImg{
    /* background-color: blue; */
    width: 100%;
    height: 200px;
    background-size: cover;
    /* background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/b0108eaaf115/assets/img/home/hero_photos/xetgX7L_0aF2pxuTh4gARA.jpg); */
    /* background-image: url(/static/img/userProfile.jpg); */
    /* bili */
    /* background-image: url(http://i0.hdslb.com/bfs/space/cb1c3ef50e22b6096fde67febe863494caefebad.png@100Q.webp); */
    background-image: url(https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_large_assets/dde93fe399aa/assets/img/home/hero_photos/Xs7es0q4jmFY5CV3uTeuPw.jpg);
    background-size: auto;
    background-position: 50%;
    line-height: 0px;
    box-shadow: 0 0 0 1px #eee;
}
.imgIcon{
    width: 60px;
    height: 60px;
    border-radius: 2em;
    margin-left: 10px;
    border: 2px solid white;
    float: left;
}
.introBox{
    color: white;
    padding-top: 130px;
    margin-left: 10px;
    width: 100%;
    float: left;
}

.introText{
    margin-left: 10px;
    float:left;
    margin-top: 20px;
}
.introText p{
    padding: 4px;
}
.profileNav{
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 0 0 0 1px #eee
}
.profileNav a{
    color:black;
}
.profileNav i{
    margin-right: 10px;
}